<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Techfile-Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E4691B1D3559EC007BBB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E469321D3559ED007BBB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E4693D1D3559ED007BBB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
